<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block"><%= statusCode %></span>
                <div class="mb-4 lead"><%= message %></div>
                <img src="<%= img %>" style="width: 400px;height: 250px">
                <a href="https://www.totoprayogo.com/#" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
