<div class="container mt-5">
    <div class="jumbotron" style="background-color: white">
        <div class="row">
            <!-- -&#45;&#45;-->
            <button class="loginBTN col-md-1 offset-md-1">
                <a href="/login">Home</a>
            </button>
            <!-- -&#45;&#45;-->
            <div class="dropdown col-md-1 offset-md-1 ">
                <button class="loginBTN dropdown-toggle" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <!-- -&#45;&#45;-->
            <div class="dropdown col-md-1 offset-md-1 ">
                <button class="loginBTN dropdown-toggle" role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Articles
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <!-- -&#45;&#45;-->
            <button class="loginBTN col-md-1 offset-md-1">
                <a href="/contact-us">Contact Us</a>
            </button>
            <!-- -&#45;&#45;-->
            <button class="loginBTN col-md-1 offset-md-1">
                <a href="/login">About Us</a>
            </button>
            <!-- -&#45;&#45;-->
            <button class="loginBTN col-md-1 offset-md-1">
                <a href="/login">About Us</a>
            </button>
            <!-- -&#45;&#45;-->
        </div>
    </div>
</div>
