<%- include('../../layouts/panel/header'); %>
<!--include('../../messages/loginMessage');-->

<div>
    <div>
        <nav>
            <div>
                <h1 class="font-bold uppercase p-4 border-b border-gray-200">
                    <a href="/" class="text-green-500 sm:text-red-500 md:text-x1 lg:text-blue-500">Food Ninja</a>
                </h1>
            </div>
            <ul>
                <li class="text-gray-700 font-bold">
                    <a href="#">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>About</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <main class="px-16 py-16 bg-gray-100">
        <div class="flex justify-center md:justify-end">
            <a href="/login" class="text-primary">Login</a>
            <a href="/register" class="text-primary ml-2">Register</a>
        </div>


        <div class="flex items-end">
            <div class="bg-red-500 h-4 w-6"></div>
            <div class="bg-blue-500 h-8 w-6"></div>
            <div class="bg-green-500 h-12 w-6"></div>
        </div>

    <header>
        <h2 class="text-gray-700 text-6xl font-semibold">Re</h2>
        <h3 class="text-2xl font-semibold">Fo</h3>
    </header>

        <div>
            <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">La</h4>

            <div class="mt-8">
                <div class="bg-white rounded overflow-hidden shadow-md relative">
                    <img src="../../../../public/img/401.jpg" class="w-full h-32 sm:h-48 object-hover">
                    <div>
                        <span class="font-bold">5 bin</span>
                        <span class="block text-gray-500 text-sm"></span>
                    </div>
                </div>
            </div>

            <h4 class="font-bold mt-12 pb-2 border-b border-gray-200">Mo</h4>

            <div class="mt-8">

            </div>

            <div class="bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full p-2 absolute top-0 ml-2 mt-2">
                <span>25 m</span>
            </div>
            <div>
                <div class="bg-secondary-100 text-secondary-200">Lo</div>
            </div>
        </div>
    </main>
</div>

<%- include('../../layouts/panel/footer'); %>


