<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/tailwind.css" rel="stylesheet">
    <title></title>
</head>
<body class="text-gray-600 font-serif">
<div id="app">
    <div class="container mx-auto bg-green-100 rounded" style="max-width: 1700px">
        <div class="row mt-5">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control">
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div>
                    <button class="bg-green-500 text-white font-bold py-2 px-4 rounded">
                        <a href="/login">Login</a>
                    </button>
                    <button class="bg-green-500 text-white font-bold py-2 px-4 rounded">
                        <a href="/register">Register</a>
                    </button>
                </div>
                <div>
                    <button class="bg-red-500 text-white font-bold py-2 px-4 rounded">
                        <a href="/logout">logout</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <%- include('../../layouts/panel/sidebar'); %>
        <%- include('../../layouts/panel/navbar'); %>

