<div class="container col-md-9">
    <div class="jumbotron" style="background-color: aliceblue">
        <a href="" class="loginBTN">Home</a>
        <hr>
<div class="container col-md-9">
    <div class="jumbotron" style="background-color: aliceblue">
