<div class="container col-md-3">
    <div class="jumbotron" style="background-color: aliceblue">
        <!--&#45;&#45;&#45;&#45;-->
        <div class="container-fluid">
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Dashboard
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/dashboard">Dashboard 1 <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/dashboard">Dashboard 2 <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Employees Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/employees">Employees All <i class="fa fa-users text-success"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/employees/create">Employees Register <i class="fa fa-user-plus text-success"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Users Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/users">Users All <i class="fa fa-users text-success"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/users/create">Users Register <i class="fa fa-user-plus text-success"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Brands Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/brands">Brands All <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/brands/create">Brands Register <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    ProductCategories Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/product-categories">ProductCategories All <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/product-categories/create">ProductCategories Register <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Products Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/products">Products All <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/products/create">Products Register <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    ArticleCategories Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/article-categories">ArticleCategories All <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/article-categories/create">ArticleCategories Register <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Articles Management
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/panel/articles">Articles All <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/panel/articles/create">Articles Register <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse dropend" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle loginBTN" id="navbarDropdownMenuLink" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Logout
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/logout">Logout <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout">Logout <i class="fa fa-power-off text-danger"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--&#45;&#45;&#45;&#45;-->
        </div>
    </div>
</div>
