<div class="container col-md-3">
    <div class="jumbotron">
        <ul>
            <li>
                <a href="/panel/dashboard">Dashboard</a>
            </li>
            <hr>
            <li>
                <a href="/panel/employees">Employees Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/users">Users Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/brands">Brands Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/product-categories">ProductCategories Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/products">Products Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/article-categories">ArticleCategories Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/article">Article Management</a>
            </li>
        </ul>
    </div>
</div>
