<div class="container col-md-3">
    <div class="jumbotron" style="background-color: aliceblue">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <ul>
            <li>
                <a href="/panel/dashboard" class="loginBTN">Dashboard</a>
            </li>
            <hr>
            <li>
                <a href="/panel/employees" class="loginBTN">Employees Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/users" class="loginBTN">Users Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/brands" class="loginBTN">Brands Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/product-categories" class="loginBTN">ProductCategories Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/products" class="loginBTN">Products Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/article-categories" class="loginBTN">ArticleCategories Management</a>
            </li>
            <hr>
            <li>
                <a href="/panel/articles" class="loginBTN">Article Management</a>
            </li>
        </ul>
    </div>
</div>
