<%- include('../../layouts/panel/header'); %>
<div class="container">
    <div class="jumbotron">
        <!--//-->
        <%- include("../../errors/errorMessages.ejs") %>
        <form action="/panel/employees/store" method="post">
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           name="first_name"
                           id="first-name"
                           placeholder="Enter First Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           name="last_name"
                           id="last-name"
                           placeholder="Enter Last Name">
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text"
                           class="form-control"
                           name="username"
                           id="username"
                           placeholder="Enter User Name">
                </div>
                <div class="form-group col-md-6">
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           placeholder="Enter Email">
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="password"
                           class="form-control"
                           name="password"
                           id="password"
                           placeholder="Password">
                </div>
                <div class="form-group col-md-6">
                    <input type="password"
                           class="form-control"
                           name="confirmation_password"
                           id="confirmation-password"
                           placeholder="Confirmation Password">
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-12">
                <textarea class="form-control"
                          name="home_address"
                          id="home-address"
                          placeholder="Enter Home Address"
                          rows="5">
                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="input-group-prepend">
                        <div class="btn btn-success">image</div>
                        <input type="file"
                               class="form-control"
                               name="selectedImage"
                               id="selectedImage"
                               placeholder="Enter Last Name">
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-12">
                    <div id="editor">
                        <p>This is the editor content.</p>
                    </div>
                    <script src="../../../../node_modules/ckeditor4/ckeditor.js"></script>
                    <script>
                        CKEDITOR.replace('editor');
                    </script>
                </div>
            </div>
            <!--//-->
            <div class="row">
                <div class="form-group col-md-12">
                <textarea class="form-control"
                          name="work_address"
                          id="work-address"
                          placeholder="Enter Work Address"
                          rows="5">
                </textarea>
                </div>
            </div>
            <!--//-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<%- include('../../layouts/panel/footer'); %>


